envs.sh
.ssh


# Created by https://www.gitignore.io/api/terraform

### Terraform ###
# Terraform - https://terraform.io/
.terraform
terraform.tfstate
terraform.tfstate.backup
*.tfvars

### Terraform Patch ###
# End of https://www.gitignore.io/api/terraform
